<ion-view name="tab-found" view-title="Found form">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <core-image sizing="cover" preload fade src="{{image}}"></core-image>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <paper-input ng-model="data.color" label="Color" floatingLabel="true"></paper-input>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">

      </div>
    </div>
    <div class="row">
      <div class="col col-100">

      </div>
    </div>
  </ion-content>
</ion-view>