<ion-view name="tab-lost" view-title="{{ 'TAB_LOST.FORM.TITLE' | translate }}">
  <ion-content id="lostForm">
    <form name="lostForm">
      <div class="row row-center">
        <div class="col col-100">
          <h4>{{ 'TAB_LOST.FORM.HOW_TITLE' | translate }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <button type="button" ng-click="getPhoto('GALLERY')"
                  class="button icon button-calm ion-image">
          </button>
          <img style="width:100%; height:250px;" src="{{'data:image/jpeg;base64,' + data.image}}" ng-show="data.image !== ''"/>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <label class="item item-input">
            <input type="text" name="name" placeholder="{{ 'TAB_LOST.FORM.NAME' | translate }}" ng-model="data.name" required>
          </label>
          <div class="error-container"
               ng-show="lostForm.name.$dirty && lostForm.name.$invalid">
            <small class="error" ng-show="lostForm.name.$error.required" translate>
              {{ 'TAB_LOST.FORM.VALIDATIONS.NAME_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <label class="item item-input">
            <input type="text" name="color" placeholder="{{ 'TAB_LOST.FORM.COLOR' | translate }}" ng-model="data.color" required>
          </label>
          <div class="error-container"
               ng-show="lostForm.color.$dirty && lostForm.color.$invalid">
            <small class="error" ng-show="lostForm.color.$error.required" translate>
              {{ 'TAB_LOST.FORM.VALIDATIONS.COLOR_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-50">
          <div class="list">
            <label class="item item-radio">
              <input type="radio" name="group" ng-model="data.gender" value="male" ng-required="!data.gender">
              <div class="item-content" translate>TAB_LOST.FORM.MALE</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </div>
        </div>
        <div class="col col-50">
          <div class="list">
            <label class="item item-radio">
              <input type="radio" name="group" ng-model="data.gender" value="female" ng-required="!data.gender">
              <div class="item-content" translate>TAB_LOST.FORM.FEMALE</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-100">
          <label class="item item-input">
            <textarea name="comment" placeholder="{{ 'TAB_LOST.FORM.COMMENT' | translate }}" ng-model="data.comment" required></textarea>
          </label>
          <div class="error-container"
               ng-show="lostForm.comment.$dirty && lostForm.comment.$invalid">
            <small class="error" ng-show="lostForm.comment.$error.required">
              {{ 'TAB_LOST.FORM.VALIDATIONS.COMMENT_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-100">
          <h4>{{ 'TAB_LOST.FORM.WHERE_TITLE' | translate }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          <button ng-click="openModal()" ng-hide="data.location" class="button icon-left button-calm ion-map"></button>
          <div ng-show="data.location">
            <img class="show-top" src="{{mapUrl}}">
            <span class="icon ion-close-circled close-size" ng-click="removeLocation()"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <label class="item item-input">
            <input type="text" name="neighborhood" placeholder="{{ 'TAB_LOST.FORM.NEIGHBORHOOD' | translate }}"
                   ng-model="data.neighborhood" required>
          </label>
          <div class="error-container"
               ng-show="lostForm.neighborhood.$dirty && lostForm.neighborhood.$invalid">
            <small class="error" ng-show="lostForm.neighborhood.$error.required">
              {{ 'TAB_LOST.FORM.VALIDATIONS.NEIGHBORHOOD_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <label class="item item-input">
            <input type="text" name="locality" placeholder="{{ 'TAB_LOST.FORM.LOCALITY' | translate }}"
                   ng-model="data.locality" required>
          </label>
          <div class="error-container"
               ng-show="lostForm.locality.$dirty && lostForm.locality.$invalid">
            <small class="error" ng-show="lostForm.locality.$error.required">
              {{ 'TAB_LOST.FORM.VALIDATIONS.LOCALITY_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <label class="item item-input">
            <input type="text" name="country" placeholder="{{ 'TAB_LOST.FORM.COUNTRY' | translate }}"
                   ng-model="data.country" required>
          </label>
          <div class="error-container"
               ng-show="lostForm.country.$dirty && lostForm.country.$invalid">
            <small class="error" ng-show="lostForm.country.$error.required">
              {{ 'TAB_LOST.FORM.VALIDATIONS.COUNTRY_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-100">
          <h4>{{ 'TAB_LOST.FORM.WHEN_TITLE' | translate }}</h4>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-100">
          <div class="item item-input-inset" ng-show="device.isAndroid || device.isIOS">
            <label class="item-input-wrapper">
              <input type="text" name="date" placeholder="{{ 'TAB_LOST.FORM.DATE' | translate }}"
                     ng-model="data.date" ng-disabled="true" required>
            </label>
            <button ng-click="showDatePicker()"
                    class="button button-small icon button-calm ion-calendar"></button>
          </div>
          <div class="item item-input-inset" ng-hide="device.isAndroid || device.isIOS">
            <label class="item-input-wrapper">
              <input type="date" name="date" placeholder="{{ 'TAB_LOST.FORM.DATE' | translate }}"
                     ng-model="data.date">
            </label>
          </div>
          <div class="error-container"
               ng-show="lostForm.date.$dirty && lostForm.date.$invalid">
            <small class="error" ng-show="lostForm.date.$error.required">
              {{ 'TAB_LOST.FORM.VALIDATIONS.DATE_REQUIRED' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-100">
          <button type="button" ng-click="saveLostPet(data)"
                  class="button button-block button-calm"
                  ng-disabled="lostForm.$invalid"
                  translate>TAB_LOST.FORM.SUBMIT</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>