<ion-view name="tab-lost" view-title="{{ 'TAB_LOST.TITLE' | translate }}">
  <ion-content lazy-scroll>
    <ion-list>
      <ion-item class="filter-header">
        <div class="no-border">
          <div class="row">
            <div class="col col-50">
              <label class="item item-input item-select">
                <div class="input-label">Sort</div>
                <select ng-change="sort()"
                        ng-options="sortValue.label group by sortValue.group for sortValue in sortValues"
                        ng-model="options.sort">
                </select>
              </label>
            </div>
            <div class="col col-50">
              <a class="button button-icon icon ion-funnel"></a>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item ng-repeat="lostPet in lostPets">
        <a class="item item-thumbnail-left item-icon-right"
           href="#/app/lost/detail/{{ lostPet.id }}">
          <img style="width:100%; height:250px;"
               image-lazy-src="{{ lostPet.get('image').url() }}"/>
          <i class="icon ion-chevron-right"></i>
          <h2>{{ getTitle(lostPet) }}</h2>
          <p>{{ getDescription(lostPet) }}</p>
          <p>{{ getLostDate(lostPet) }}</p>
        </a>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="!noMoreItemsAvailable"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
  <button type="button" class="button icon ion-plus-round button-calm fab" ui-sref="app.lost-form"></button>
</ion-view>