<ion-tabs class="tabs-icon-top tabs-calm">

  <ion-tab title="{{ 'TAB_MAP_TEXT' | translate }}" icon="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'TAB_LOST.TITLE' | translate }}" icon="ion-ios-paw" href="#/tab/lost">
    <ion-nav-view name="tab-lost"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'TAB_FOUND_TEXT' | translate }}" icon="ion-ios-paw-outline" href="#/tab/found">
    <ion-nav-view name="tab-found"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'TAB_ADOPTION_TEXT' | translate }}" icon="ion-ios-heart" href="#/tab/adoption">
    <ion-nav-view name="tab-adoption"></ion-nav-view>
  </ion-tab>

</ion-tabs>